<%= link_to new_post_path, remote: true do %>
	<button class="btn btn-primary">New Post</button>
<% end %>
<div id="post-form" style="display:none;"></div>
<% if current_user %>
	<!-- Begin Feed Here -->

	<%= render 'posts/posts' %>
<% else %>
<!-- User not logged in? Show Home Page -->
	<h1>Welcome to BeersBook</h1>
<% end %>